#vs code#
.vscode
vscode/

#Static code#
static/css/bootstrap.css
static/css/bootstrap.css.map
static/css/bootstrap.min.css.map
static/js/bootstrap.bundle.js
static/js/bootstrap.bundle.js.map
static/js/bootstrap.bundle.min.js.map
static/Asuka.jpg


# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
# Media File But wanna Save Default Photos #
media/course_thumbnail
media/course_videos
videos_uploaded
uploded_files
 
# Backup files #
*.bak

# Python #
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/