[0;1;32m●[0m gunicorn.socket - gunicorn socket
     Loaded: loaded (/etc/systemd/system/gunicorn.socket; enabled; vendor preset: enabled)
     Active: [0;1;32mactive (running)[0m since Mon 2021-08-09 04:39:40 UTC; 6min ago
   Triggers: [0;1;32m●[0m gunicorn.service
     Listen: /home/ash/pandabase/pandabase.sock (Stream)
      Tasks: 0 (limit: 4682)
     Memory: 0B
     CGroup: /system.slice/gunicorn.socket

Aug 09 04:39:40 Ash-20 systemd[1]: Stopping gunicorn socket.
Aug 09 04:39:40 Ash-20 systemd[1]: Listening on gunicorn socket.
