{% extends "base/base.html" %}
{% load static %}

{% block content %}
{% comment %} 
<h1>Hello  {{ user.username }}</h1>
<h1>ID  {{ user.id }}</h1>
<h1>Here is your course</h1> {% endcomment %}
<div class="container">
  <div class="row align-items-start">
{% for video in object_list%}

 <div class="col">
  <a href="{{ video.get_absolute_url }}" method="get">
{% comment %} <h1>Here is Video Tag {{video.course_tag.all}}</h1>
            <li>Video Name=========={{video.video_name}}</li>
          <li>Video Url Gonna Be {{video.get_absolute_url}}</li> {% endcomment %}
          {% for tag in video.course_tag.all%}
          {% if course_id == tag.course_num %}
          <video width='320' height= '240' controls>
<source src="{{video.video_file.url}}" type='video/mp4'>
Your browser does not support the video tag.
</video> 
<h5>
 <a href="{{ video.get_absolute_url }}" method="get">Video Name is{{ video.video_name}}</a>
</h5>
          {% endif%}
          {% comment %} <li>Tag name is {{tag}}</li>
            <li>Tag Num is {{tag.course_num}}</li> {% endcomment %}
          {% endfor %}
             </a>
              </div>
           
{% endfor %}
</div>
</div>
{% endblock %}


{% block footer %} 
<footer class="text-center">
    <nav class="navbar fixed-bottom navbar-light bg-light"><p>Copyright ©Panda Base Myanmar. All rights reserved.</p></div>
        </div>
</footer>
  </div>{% endblock %}


