{% extends "base/base.html" %}
{% load static %}
 {% block customCSS %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
 {% endblock %} 
   {% block videoJS %}
     <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
   {% endblock %}
   
{% block content %}
{% comment %} <h3>Hello {{video.course_tag.all}}</h3> {% endcomment %}
{% for tag in video.course_tag.all%}
    {% if tag.course_num == 0 %}
      <div class="video-container" oncontextmenu="return false;">
  <video
    id="my-video"
    class="video-js vjs-big-play-centered video-16-9"
    controls
    preload="auto"
    
     style="width: 100%; height: 100%"
    poster="{{video.video_thumbnail.url}}"
    data-setup="{  controls: true,
  autoplay: false,
  preload: 'auto',
}"
  >
    <source src="{{video.video_file.url}}" type="video/mp4"/>
    {% comment %} <source src="MY_VIDEO.webm" type="video/webm" /> {% endcomment %}
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>
</div>
    {% endif %}
{% endfor%}



{% endblock %}

{% block footer %} 
<footer class="text-center">
    <nav class="navbar fixed-bottom navbar-light bg-light"><p>Copyright ©Panda Base Myanmar. All rights reserved.</p></div>
        </div>
</footer>
  </div>{% endblock %}
