{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid"  oncontextmenu="return false;">
<div class="row align-items-start">
{% for video in object_list%}
 <div class="col-md-4">
  <a href="{% url 'video' video.pk %}" method="get">
          {% for tag in video.course_tag.all%}
          {% if course_id == tag.course_num %}
          <video width='320' height= '240' controls>
<source src="{{video.video_file.url}}" type='video/mp4'>
Your browser does not support the video tag.
</video> 
<h5>
 <a href="{% url 'video' video.pk %}" method="get">Video Name is{{ video.video_name}}</a>
</h5>
          {% endif%}
          {% endfor %}
             </a>
              </div>
           
{% endfor %}
</div>
</div>
{% endblock %}





