{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
<div class="h-100 row align-items-center">
<video width='720' height= '720' controls>

<source src="{{video.video_file.url}}" type='video/mp4'>
Your browser does not support the video tag.
</video>
</div>
</div>
{% endblock %}

{% block footer %} 
<footer class="text-center">
    <nav class="navbar fixed-bottom navbar-light bg-light"><p>Copyright ©Panda Base Myanmar. All rights reserved.</p></div>
        </div>
</footer>
  </div>{% endblock %}
