{% extends "base/base.html" %}
{% load static %}

{% block content %}
{% comment %} <h1>Hello  {{ user.username }}</h1>
<h1>ID  {{ user.id }}</h1> {% endcomment %}
 {% comment %} Below Is User Profile Test {% endcomment %}
   {% comment %} <p>Profile:{{object.user}}</p>
       <p>Nickname:{{ object.nickname }}</p>
    <p>Email:{{ object.email }}</p>
        <p>Gender:{{ object.get_gender_display }}</p>
            <p>Bio:{{ object.bio }}</p> {% endcomment %}


<div class="container">
  <div class="form-group">
    <form action="{% url 'profile' object.pk %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
  <button type="submit">Upload</button>
 
</div>
</div>
{% endblock %}